@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}
/*Pages*/
.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: none;
}
.navigation-logo {
  width: 138px;
  margin: auto;
}

navigation-list-wrap {
  display: flex;
  width: 40%;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation-user {
  justify-content: flex-end;
}

.navigation-link-btn {
  width: 160px;
  height: 40px;
  background: #756257;
  border-radius: 4px;
}

.main-conteiner {
  flex-grow: 1;
}

.main-index-wrap {
  position: relative;
  background-image: url(../image/hotel/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-divider img {
  display: block;
}

.welcome {
  display: flex;
  justify-content: center;
}

.welcome img {
  display: block;
  max-width: 100%;
}

.welcome-description {
  display: block;
  padding: 30px;
  text-align: center;
}

.welcome-description-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-index-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.main-inner {
  background-image: url(../image/hotel/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item-wrap {
  display: flex;
  background: #83b3d3;
}

.advantages-item-info {
  display: block;
  flex-direction: column;
}

.advantage-item {
  display: flex;
  width: 400px;
}

.photo-1,
.photo-2 {
  display: block;
  width: 800px;
}
.advantages-title-light {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantage-number-light {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantage-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.advantages-description-light {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.advantages-item-wrap-list {
  width: 400px;
  height: 384px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.advantages-item-home {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-food {
  width: 400px;
  height: 384px;
  background: #ffffff;
}

.advantages-item-souvenir {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-area {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-tourist {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.interesting {
  text-align: center;
}
.interesting-container {
  width: 1200px;
  height: 417px;
}

.interesting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interesting-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-search {
  width: 575px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border-radius: 10px;
}

.mailing {
  text-align: center;
  color: #ffffff;
}
.mailing-container {
  background-image: url(../image/hotel/background-footer.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.mailing-container-catalog {
  width: 800px;
  background-image: none ;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.mailing-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.mailing-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.mailing-description-catalog {
  font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
}

.mailing-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.mailing-search {
  width: 800px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
  border-radius: 0px 10px 10px 0px;
}
/*кнопка*/
.mailing-search-btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  text-transform: uppercase;
}

.page-footer {
  text-align: center;
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  margin-right: auto;
}

.footer-social-item {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-contact-phone a {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  width: 720px;
}

.page-footer .htmlacademy-link {
  color: #000000;
  text-decoration: none;
  margin-left: auto;
}

.inner-header {
  color: #ffffff;
}

.inner-header-title {
  font-style: 400;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link-icon {
  background-image: url(../image/home-1.svg);
  background-repeat: no-repeat;
}

.hotel-services {
  display: flex;
}

.catalog-filter-group {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.infrastuctura-services {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.living-type-servcices {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-label {
  width: 287px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.filter-btn {
  width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.filter-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.sorting-container {
  display: flex;
  width: 1057px;
}

.hotels-quantity {
  height: 39px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-filter-dropdown {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.modes-tile {
  color: #000000;
  background-image: url(../image/mode-tile.svg);
  background-repeat: no-repeat;
}

.modes-slideshow {
  color: #000000;
  background-image: url(../image/mode-slideshow.svg);
  background-repeat: no-repeat;
}

.modes-list {
  color: #000000;
  background-image: url(../image/mode-list.svg);
  background-repeat: no-repeat;
}

.hotel-link {
  text-decoration: none;
}

.hotel-image img {
  display: block;
}

.hotel-element{
  display: flex;
}

.hotel-card {
  display: flex;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.living-type-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-button-detail {
  color: #ffffff;
  background-color: #756257;
}

.hotel-button-chosen {
  color: #ffffff;
  background-color: #83b3d3;
}

.hotel-button-chosen-successful {
  color: #ffffff;
  background-color: #7db54f;
}

.button-all {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
}

.quantity-hotel {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
