@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: -40px 0 15px -25px  #E5E5E5,
  40px 0 15px -25px  #E5E5E5;
}

.welcome-divider {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}
/*Pages*/
.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 65px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

.navigation-link {
  padding: 6px 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: none;
}

.navigation-logo {
  position: relative;
  width: 138px;
  min-height: 70px;
  z-index: 1;
  align-items: center;
  margin: auto;
}

.navigation-user {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}

.navigation-link-btn {
  width: 160px;
  height: 40px;
  background: #756257;
  border-radius: 4px;
}

.main-conteiner {
  flex-grow: 1;
}

.main-index {
  margin: 0;
  padding: 0;
}

.main-index-wrap {
  margin: 0;
  padding: 0;
  width: 1200px;
  position: relative;
  background-image: url(../image/hotel/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-divider {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.welcome-divider img {
  display: block;
}

.welcome {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome img {
  display: block;
  max-width: 100%;
}

.welcome-description {
  width: 1200px;
  display: block;
  text-align: center;
}

.welcome-description-heading {
  padding-top: 63px;
  padding-left: 240px;
  padding-right: 240px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-index-description {
  margin-bottom: 0;
  padding-bottom: 79px;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.main-inner {
  background-image: url(../image/hotel/catalog-background.jpg);
  background-repeat: no-repeat;
}

.page-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  /*display: flex;*/
  width: 1200px;
}

.item-group {
  display: flex;
}

.item-group-wrap {
  background: #83b3d3;
  display: flex;
  flex-direction: column;
}

.photo-1,
.photo-2 {
  display: block;
  width: 800px;
}

.advantages-title {
  margin: 0;
  padding: 0;
  padding-top: 98px;
  padding-left: 75px;
  padding-right: 75px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.light {
  color: #ffffff;
}

.advantage-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.light {
  color: #ffffff;
}

.advantages-description {
  margin: 0;
  padding: 0;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 77;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.light {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 77;
  color: #ffffff;
}

.advantages-subtitle {
  margin-top: 184px;
  padding-left: 75px;
  padding-right: 75px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description-subdescription {
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 79;
}

.advantages-item-wrap-list {
  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.advantages-item-wrap-super {
  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.item-house {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../image/home-icon.svg);
  background-repeat: no-repeat;
}

.item-food {
  width: 400px;
  background: #ffffff;
  background-image: url(../image/burgher.svg);
  background-repeat: no-repeat;
}

.item-souvenir {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../image/souvenir.svg);
  background-repeat: no-repeat;
}

.item-area {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.item-road {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.item-tourist {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.interesting {
  text-align: center;
}

.interesting-container {
  margin: 0;
  padding: 91px 240px;
  width: 1200px;
}

.interesting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interesting-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-search {
  display: block;
  width: 575px;
  height: 60px;
  padding-top: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

.mailing {
  text-align: center;
  color: #ffffff;
}

.mailing-container {
  width: 1200px;
  padding: 94px 240px;
  background-image: url(../image/hotel/background-footer.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.mailing-container-catalog {
  background-image: none;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.mailing-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.mailing-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.mailing-description-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.mailing-search {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background: #f2f2f2;
  border-radius: 0px 10px 10px 0px;
}
/*кнопка*/
.mailing-search-btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  text-transform: uppercase;
  text-align: center;
}

.page-footer {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
}

.footer-social-item {
  margin: 0;
  padding: 0;
}

.footer-contact-phone a {
  width: 720px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}

.htmlacademy-link {
  max-width: 240px;
  color: #000000;
  text-decoration: none;
  margin-left: auto;
}

.inner-header {
  color: #ffffff;
}

.inner-header-title {
  font-style: 400;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link-icon {
  background-image: url(../image/home-1.svg);
  background-repeat: no-repeat;
}

.hotel-services {
  display: flex;
}

.catalog-filter-group {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.infrastuctura-services {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.living-type-servcices {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-label {
  width: 287px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.filter-btn {
  width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.filter-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.sorting-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.hotels-quantity {
  padding-top: 6px;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-filter-dropdown {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.modes-tile {
  color: #000000;
  background-image: url(../image/mode-tile.svg);
  background-repeat: no-repeat;
}

.modes-slideshow {
  color: #000000;
  background-image: url(../image/mode-slideshow.svg);
  background-repeat: no-repeat;
}

.modes-list {
  color: #000000;
  background-image: url(../image/mode-list.svg);
  background-repeat: no-repeat;
}

.hotel-list{
  display: grid;
}

.hotel-link {
  text-decoration: none;
}

.hotel-image img {
  display: block;
}

.hotel-element {
  display:grid ;
}

.hotel-card {
  display: grid;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.living-type-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-button-detail {
  color: #ffffff;
  background-color: #756257;
}

.hotel-button-chosen {
  color: #ffffff;
  background-color: #83b3d3;
}

.hotel-button-chosen-successful {
  color: #ffffff;
  background-color: #7db54f;
}

.button-all {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
}

.pagination-container{
  display: flex;
  background-color: #FFFFFF;
}

.pagination {
  margin-top: 31px;
  display: flex;
  background-color: #ffffff;
  list-style-type: none;
}

.pagination-item:not(:last-child){
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
  border-radius: 4px;
}

.quantity-hotel {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
