@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }
  
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}
    
body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

/*Pages*/
.page-header{
    color:#000000;
    background-color:#ffffff;
}

.navigation-link{
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

.visually-hidden{
    display:none;
}

.main-index{
  background-image: url(image/hotel/index-background.jpg),
   url(image/hotel/divider.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.advantages{
    text-align: center;
}

.advantages-title{
    font-family:"PT Sans Narrow", sans-serif; 
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

}

